<ion-header>
  <ion-navbar color="primary">
    <ion-title>Running Session</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card *ngIf="!sessionActive">
    <ion-card-header>
      Instructions
    </ion-card-header>
    <ion-card-content>
      <p>
        Press the bottom in the bottom right corner to start a new pedometer session. Once a session is activated, the exit button should appear where the session start button used to be.
      </p>
    </ion-card-content>
  </ion-card>

  <ion-list *ngIf="sessionActive && sessionData">
    <ion-item>
      <h2>Acceleration-X</h2>
      <ion-note item-end>{{ sessionData.acceleration.x }}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Acceleration-Y</h2>
      <ion-note item-end>{{ sessionData.acceleration.y }}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Acceleration-Z</h2>
      <ion-note item-end>{{ sessionData.acceleration.z }}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Latitude</h2>
      <ion-note item-end>{{ sessionData.geolocation.latitude }}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Longitude</h2>
      <ion-note item-end>{{ sessionData.geolocation.longitude }}</ion-note>
    </ion-item>
    <ion-item>
      <h2>Number of Steps</h2>
      <ion-note item-end>{{ sessionData.pedometer.numberOfSteps }}</ion-note>
    </ion-item>
  </ion-list>

  <ion-fab right bottom>
    <button *ngIf="!sessionActive" (click)="start()" ion-fab><ion-icon name="add"></ion-icon></button>
    <button *ngIf="sessionActive" (click)="stop()" ion-fab color="danger"><ion-icon name="close"></ion-icon></button>
  </ion-fab>

</ion-content>
